#### Sreelal H

### Assignment 2 - Evaluate the dataset containing the GDPs of different countries to:

In [1]:
lst=[]
with open("Countries with GDP.txt","r") as file:
    for eachline in file.readlines():
        lst.append(eachline)
lst.pop(0)
lst.pop(0)
lst.pop(1)
lst.pop(1)
lst.pop(1)
lst.pop(1)

Countries=[]
GDP=[]

Countries=lst[0].split(",")
GDP=lst[1].split(",")

k=len(Countries)
l=len(GDP)

for i in range(k):
    Countries[i]=Countries[i].replace("'","")
Countries[-1]=Countries[-1].replace("\n","")

GDP_float=[]
for j in GDP:
    GDP_float.append(float(j))

In [2]:
#High gdp
Max=max(GDP_float)
max_index=GDP_float.index(Max)
print("Country with highest GDP is",Countries[max_index],"with GDP =",Max)

Country with highest GDP is Norway with GDP = 40034.85063

In [3]:
#Low gdp
Min=min(GDP_float)
min_index=GDP_float.index(Min)
print("Country with lowest GDP is",Countries[min_index],"with GDP =",Min)

Country with lowest GDP is Ethiopia with GDP = 229.6769525

In [4]:
#Entire details
for every in range(63):
    print(Countries[every],":",GDP_float[every])

Algeria : 2255.225482
Angola : 629.9553062
Argentina : 11601.63022
Australia : 25306.82494
Austria : 27266.40335
Bahamas : 19466.99052
Bangladesh : 588.3691778
Belarus : 2890.345675
Belgium : 24733.62696
Bhutan : 1445.760002
Brazil : 4803.398244
Bulgaria : 2618.876037
Cambodia : 590.4521124
Cameroon : 665.7982328
Chile : 7122.938458
China : 2639.54156
Colombia : 3362.4656
Cyprus : 15378.16704
Denmark : 30860.12808
El Salvador : 2579.115607
Estonia : 6525.541272
Ethiopia : 229.6769525
Fiji : 2242.689259
Finland : 27570.4852
France : 23016.84778
Georgia : 1334.646773
Ghana : 402.6953275
Grenada : 6047.200797
Guinea : 394.1156638
Haiti : 385.5793827
Honduras : 1414.072488
Hungary : 5745.981529
India : 837.7464011
Indonesia : 1206.991065
Ireland : 27715.52837
Italy : 18937.24998
Japan : 39578.07441
Kenya : 478.2194906
 South Korea : 16684.21278
Liberia : 279.2204061
Malaysia : 5345.213415
Mexico : 6288.25324
 Morocco : 1908.304416
Nepal : 274.8728621
New Zealand : 14646.42094
Norway : 40034.85063
Pakistan : 672.1547506
 Peru : 3359.517402
Qatar : 36152.66676
Russia : 3054.727742
Singapore : 33529.83052
South Africa : 3825.093781
Spain : 15428.32098
Sweden : 33630.24604
Switzerland : 39170.41371
Thailand : 2699.123242
 United Arab Emirates : 21058.43643
United Kingdom : 28272.40661
United States : 37691.02733
Uruguay : 9581.05659
Venezuela : 5671.912202
Vietnam : 757.4009286
Zimbabwe : 347.7456605

In [5]:
#High gdp,lowgdp, meangdp, standardized gdp,sum of all gdp
import pandas as pd
GDP_df=pd.DataFrame(GDP_float)
GDP_df.describe()

                  0
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [6]:
print("Sum of all Gdp is =",sum(GDP_float))

Sum of all Gdp is = 711232.7841133001